torch
transformers
tokenizers>=0.12.1,<0.14
sentencepiece
accelerate
peft
bitsandbytes
pydantic
numpy
scikit-learn
requests
einops
einops-exts
timm>=0.9.16
wandb
open_clip_torch
rootutils
hydra-core
torchmetrics
git+https://github.com/openai/CLIP.git
rich
pandas
fairscale
scipy==1.10.1
dspy-ai
faiss-gpu
datasets
